<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springframe.mapper.SysPermissionMapper">

    <resultMap type="com.example.springframe.entity.SysPermission" id="SysPermissionMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="code" column="code" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="pid" column="pid" jdbcType="INTEGER"/>
        <result property="url" column="url" jdbcType="VARCHAR"/>
        <result property="menuType" column="menu_type" jdbcType="INTEGER"/>
        <result property="state" column="state" jdbcType="INTEGER"/>
        <result property="keystr" column="keystr" jdbcType="VARCHAR"/>
        <result property="routing" column="routing" jdbcType="VARCHAR"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>


    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="SysPermissionMap">
        select
        id, code, type, name, description, pid, url, menu_type, state, keystr, routing, create_by, create_time,
        update_by, update_time
        from sys_permission
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="code != null and code != ''">
                and code = #{code}
            </if>
            <if test="type != null">
                and type = #{type}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="description != null and description != ''">
                and description = #{description}
            </if>
            <if test="pid != null">
                and pid = #{pid}
            </if>
            <if test="url != null and url != ''">
                and url = #{url}
            </if>
            <if test="menuType != null">
                and menu_type = #{menuType}
            </if>
            <if test="state != null">
                and state = #{state}
            </if>
            <if test="keystr != null and keystr != ''">
                and keystr = #{keystr}
            </if>
            <if test="routing != null and routing != ''">
                and routing = #{routing}
            </if>
            <if test="createBy != null and createBy != ''">
                and create_by = #{createBy}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateBy != null and updateBy != ''">
                and update_by = #{updateBy}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
        </where>
    </select>


    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into sys_permission(code, type, name, description, pid, url, menu_type, state, keystr, routing,
        create_by, create_time, update_by, update_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.code}, #{entity.type}, #{entity.name}, #{entity.description}, #{entity.pid}, #{entity.url},
            #{entity.menuType}, #{entity.state}, #{entity.keystr}, #{entity.routing}, #{entity.createBy},
            #{entity.createTime}, #{entity.updateBy}, #{entity.updateTime})
        </foreach>
    </insert>

    <!--需要通过在数据库连接URL中指定allowMultiQueries参数值为true告诉数据库以支持”;"号分隔的多条语句的执行-->
    <update id="updateBatch">
        <foreach collection="entities" item="entity" separator=";">
            update sys_permission
            <set>
                <if test="entity.code != null and entity.code != ''">
                    code = #{entity.code},
                </if>
                <if test="entity.type != null">
                    type = #{entity.type},
                </if>
                <if test="entity.name != null and entity.name != ''">
                    name = #{entity.name},
                </if>
                <if test="entity.description != null and entity.description != ''">
                    description = #{entity.description},
                </if>
                <if test="entity.pid != null">
                    pid = #{entity.pid},
                </if>
                <if test="entity.url != null and entity.url != ''">
                    url = #{entity.url},
                </if>
                <if test="entity.menuType != null">
                    menu_type = #{entity.menuType},
                </if>
                <if test="entity.state != null">
                    state = #{entity.state},
                </if>
                <if test="entity.keystr != null and entity.keystr != ''">
                    keystr = #{entity.keystr},
                </if>
                <if test="entity.routing != null and entity.routing != ''">
                    routing = #{entity.routing},
                </if>
                <if test="entity.createBy != null and entity.createBy != ''">
                    create_by = #{entity.createBy},
                </if>
                <if test="entity.createTime != null">
                    create_time = #{entity.createTime},
                </if>
                <if test="entity.updateBy != null and entity.updateBy != ''">
                    update_by = #{entity.updateBy},
                </if>
                <if test="entity.updateTime != null">
                    update_time = #{entity.updateTime},
                </if>
            </set>
            where id = #{entity.id}
        </foreach>
    </update>
</mapper>
