<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springframe.mapper.SysRoleUserMapper">

    <resultMap type="com.example.springframe.entity.SysRoleUser" id="SysRoleUserMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="code" column="code" jdbcType="VARCHAR"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="roleId" column="role_id" jdbcType="INTEGER"/>
    </resultMap>


    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="SysRoleUserMap">
        select
        id, code, user_id, role_id
        from sys_role_user
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="code != null and code != ''">
                and code = #{code}
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="roleId != null">
                and role_id = #{roleId}
            </if>
        </where>
    </select>


    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into sys_role_user(code, user_id, role_id)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.code}, #{entity.userId}, #{entity.roleId})
        </foreach>
    </insert>

    <!--需要通过在数据库连接URL中指定allowMultiQueries参数值为true告诉数据库以支持”;"号分隔的多条语句的执行-->
    <update id="updateBatch">
        <foreach collection="entities" item="entity" separator=";">
            update sys_role_user
            <set>
                <if test="entity.code != null and entity.code != ''">
                    code = #{entity.code},
                </if>
                <if test="entity.userId != null">
                    user_id = #{entity.userId},
                </if>
                <if test="entity.roleId != null">
                    role_id = #{entity.roleId},
                </if>
            </set>
            where id = #{entity.id}
        </foreach>
    </update>
</mapper>
