<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springframe.mapper.SysRolePermissionMapper">

    <resultMap type="com.example.springframe.entity.SysRolePermission" id="SysRolePermissionMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="code" column="code" jdbcType="VARCHAR"/>
        <result property="permissionId" column="permission_id" jdbcType="INTEGER"/>
        <result property="roleId" column="role_id" jdbcType="INTEGER"/>
    </resultMap>


    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="SysRolePermissionMap">
        select
        id, code, permission_id, role_id
        from sys_role_permission
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="code != null and code != ''">
                and code = #{code}
            </if>
            <if test="permissionId != null">
                and permission_id = #{permissionId}
            </if>
            <if test="roleId != null">
                and role_id = #{roleId}
            </if>
        </where>
    </select>


    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into sys_role_permission(code, permission_id, role_id)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.code}, #{entity.permissionId}, #{entity.roleId})
        </foreach>
    </insert>

    <!--需要通过在数据库连接URL中指定allowMultiQueries参数值为true告诉数据库以支持”;"号分隔的多条语句的执行-->
    <update id="updateBatch">
        <foreach collection="entities" item="entity" separator=";">
            update sys_role_permission
            <set>
                <if test="entity.code != null and entity.code != ''">
                    code = #{entity.code},
                </if>
                <if test="entity.permissionId != null">
                    permission_id = #{entity.permissionId},
                </if>
                <if test="entity.roleId != null">
                    role_id = #{entity.roleId},
                </if>
            </set>
            where id = #{entity.id}
        </foreach>
    </update>
</mapper>
