<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springframe.mapper.SysUserMapper">

    <resultMap type="com.example.springframe.entity.SysUser" id="SysUserMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="code" column="code" jdbcType="VARCHAR"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="nickName" column="nick_name" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="lastPasswordResetDate" column="last_password_reset_date" jdbcType="TIMESTAMP"/>
        <result property="userType" column="user_type" jdbcType="INTEGER"/>
        <result property="mobile" column="mobile" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="sex" column="sex" jdbcType="INTEGER"/>
        <result property="state" column="state" jdbcType="INTEGER"/>
        <result property="deleted" column="deleted" jdbcType="INTEGER"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>


    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="SysUserMap">
        select
        id, code, username, nick_name, password, last_password_reset_date, user_type, mobile, email, sex, state,
        deleted, create_by, create_time, update_by, update_time
        from sys_user
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="code != null and code != ''">
                and code = #{code}
            </if>
            <if test="username != null and username != ''">
                and username = #{username}
            </if>
            <if test="nickName != null and nickName != ''">
                and nick_name = #{nickName}
            </if>
            <if test="password != null and password != ''">
                and password = #{password}
            </if>
            <if test="lastPasswordResetDate != null">
                and last_password_reset_date = #{lastPasswordResetDate}
            </if>
            <if test="userType != null">
                and user_type = #{userType}
            </if>
            <if test="mobile != null and mobile != ''">
                and mobile = #{mobile}
            </if>
            <if test="email != null and email != ''">
                and email = #{email}
            </if>
            <if test="sex != null">
                and sex = #{sex}
            </if>
            <if test="state != null">
                and state = #{state}
            </if>
            <if test="deleted != null">
                and deleted = #{deleted}
            </if>
            <if test="createBy != null and createBy != ''">
                and create_by = #{createBy}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateBy != null and updateBy != ''">
                and update_by = #{updateBy}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
        </where>
    </select>


    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into sys_user(code, username, nick_name, password, last_password_reset_date, user_type, mobile, email,
        sex, state, deleted, create_by, create_time, update_by, update_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.code}, #{entity.username}, #{entity.nickName}, #{entity.password},
            #{entity.lastPasswordResetDate}, #{entity.userType}, #{entity.mobile}, #{entity.email}, #{entity.sex},
            #{entity.state}, #{entity.deleted}, #{entity.createBy}, #{entity.createTime}, #{entity.updateBy},
            #{entity.updateTime})
        </foreach>
    </insert>

    <!--需要通过在数据库连接URL中指定allowMultiQueries参数值为true告诉数据库以支持”;"号分隔的多条语句的执行-->
    <update id="updateBatch">
        <foreach collection="entities" item="entity" separator=";">
            update sys_user
            <set>
                <if test="entity.code != null and entity.code != ''">
                    code = #{entity.code},
                </if>
                <if test="entity.username != null and entity.username != ''">
                    username = #{entity.username},
                </if>
                <if test="entity.nickName != null and entity.nickName != ''">
                    nick_name = #{entity.nickName},
                </if>
                <if test="entity.password != null and entity.password != ''">
                    password = #{entity.password},
                </if>
                <if test="entity.lastPasswordResetDate != null">
                    last_password_reset_date = #{entity.lastPasswordResetDate},
                </if>
                <if test="entity.userType != null">
                    user_type = #{entity.userType},
                </if>
                <if test="entity.mobile != null and entity.mobile != ''">
                    mobile = #{entity.mobile},
                </if>
                <if test="entity.email != null and entity.email != ''">
                    email = #{entity.email},
                </if>
                <if test="entity.sex != null">
                    sex = #{entity.sex},
                </if>
                <if test="entity.state != null">
                    state = #{entity.state},
                </if>
                <if test="entity.deleted != null">
                    deleted = #{entity.deleted},
                </if>
                <if test="entity.createBy != null and entity.createBy != ''">
                    create_by = #{entity.createBy},
                </if>
                <if test="entity.createTime != null">
                    create_time = #{entity.createTime},
                </if>
                <if test="entity.updateBy != null and entity.updateBy != ''">
                    update_by = #{entity.updateBy},
                </if>
                <if test="entity.updateTime != null">
                    update_time = #{entity.updateTime},
                </if>
            </set>
            where id = #{entity.id}
        </foreach>
    </update>
</mapper>
